<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dolbomi.admin.repository.AdminRepository">
    <insert id="insertUserAdmin" parameterType="Long">
        INSERT INTO UserAdmin (oldIndex, adminIndex)
        VALUES (#{oldIndex}, #{adminIndex})
    </insert>
    <select id="findAllUser" resultType="SimpleUser">
        SELECT Distinct userIndex, name, registerNo, status
        FROM User, UserAdmin
        WHERE
            (User.userIndex=UserAdmin.oldIndex
                and UserAdmin.adminIndex=1);
    </select>
    <select id="findUser" resultType="SimpleUser">
        SELECT Distinct userIndex, name, registerNo, status
        FROM User
        WHERE
            (User.userIndex=1);
    </select>
    <select id="findUserByStatus" resultType="SimpleUser">
        SELECT Distinct userIndex, name, registerNo, status
        FROM User, UserAdmin
        WHERE
            (User.status = 1
                and User.userIndex=UserAdmin.oldIndex
                and UserAdmin.adminIndex=1);
    </select>
</mapper>